@import "variable";
@import "mixins";

@import "base";
@import "header";
@import "hero";
@import "home-page";
@import "footer";
@import "breadcrumb";
@import "about";
@import "services";
@import "services-details";
@import "blog";
@import "blog-sidebar";
@import "blog-details";
@import "contact";
@import "responsive";
.cryptos-prices-table {
    @media #{$breakpoint-md} {
        margin-top: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 100px;
    }
}

$breakpoint-xl: 'only screen and (min-width:1200px)';
$breakpoint-xs: 'only screen and (max-width:767px)';
$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';